<header>
  {{>user-header}}
</header>
<section>
<div class="container mt-4">
<div class="row ">
{{#each products}}
    <div class="col-md-3">
  <div class="card" style="width: 18rem;">
    <img src="/product-images/{{this._id}}.jpg" class="card-img-top" alt="Product Image">
    <div class="card-body">
      <h5 class="card-title">{{this.productName}}</h5>
      <p class="card-text">{{this.productDescription}}</p>
      <p class="card-text">{{this.productPrice}}</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
  </div>
{{/each}}
</div>
</div>
</section>