
<header>
    {{>superAdmin-header}}
</header>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome, Super Admin!</h2>
            <p>This is your dashboard content. You can customize this section based on your requirements.</p>
        </div>
    </div>
</div>
               <a href="/superAdminLogin">
               <button class="btn btn-primary btn-lg btn-block">Login</button>
               </a> 